@model IEnumerable<AspNet_Core.Models.Section>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered verticle-middle">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Section in Model)
                    {
                        <tr>
                            <td>@Section.Id</td>
                            <td>@Section.Name</td>
                            <td>
                                <span>
                                    <a Sectionid="@Section.Id" onclick="EditSection($(this).attr('Sectionid'), '@Url.Action("Edit", "Section")')"
                                       data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
                                    <a Sectionid="@Section.Id" onclick="DeleteSection($(this).attr('Sectionid'),'@Url.Action("Delete", "Section")')"
                                       data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

